﻿@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
@{
    NavigationRoutes.Filters.Add(new AdminNavigationRouteFilter(this.Context.User.Identity.Name));
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
        @* favicons and touch icons go here *@
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="~/" title="change in _bootstrapLayout.basic.cshtml"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            @Html.Navigation()
                        </ul>
                        <div class="pull-right">
                            <ul class="nav pull-right">
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name</a>
                                        <ul class="dropdown-menu">
                                            @*<li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
                                            <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
                                            <li class="divider"></li>*@
                                            <li><a href="~/Account/LogOff"><i class="icon-off"></i> Выйти</a></li>
                                        </ul>
                                    </li>
                                </ul>
                        </div>
                    </div>
				</div>
                </div>
        </div>
       
        <div class="container-fluid">
            @Html.Partial("_alerts")
            @Html.Partial("_validationSummary")
            @RenderBody()   
            <hr>
            <footer>
                <p>&copy; Company @System.DateTime.Now.ToString("yyyy")</p>
            </footer> 
        </div>
         @Scripts.Render("~/js")
        		<script src="~/Scripts/modernizr-2.6.2.js"></script>
	   @* <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
		<script src="~/Scripts/bootbox.min.js"></script>
		<script src="~/Scripts/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/jquery.dataTables.pagination.Bootstrap.js"></script>
        <script type="text/javascript" charset="utf-8" src="~/Scripts/jquery.dataTables.columnFilter.js"></script>
		<script src="~/Scripts/bootstrap-datepicker.js"></script>
		<script src="~/Scripts/bootstrap-datepicker.ru.js"></script>
		<script src="~/Scripts/globalize.js"></script>
		<script src="~/Scripts/globalize.culture.ru.js"></script>
		<script src="~/Scripts/jquery.validate.globalize.js"></script>
        @*		<script src="~/Scripts/tabletools/js/TableTools.js"></script>
        <script src="~/Scripts/tabletools/js/ZeroClipboard.js"></script>*@
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/vendor/jquery.ui.widget.js"></script>
        <script src="~/Scripts/jquery.iframe-transport.js"></script>
        <script src="~/Scripts/jquery.fileupload.js"></script>
        <script src="~/Scripts/jquery.fileupload-fp.js"></script>
        <script src="~/Scripts/jquery.fileupload-ui.js"></script>
        <script src="~/Scripts/canvas-to-blob.min.js"></script>
         @RenderSection("Scripts", required: false)
    </body>
</html>

