﻿@using Books.Models
@using BootstrapSupport
@model Object
@{
    var nvaModel = Model as INavModel;
    var prefix = nvaModel.EntityName == "Books" ? "книгу " : "";
}
     @Html.ActionLink("Назад к списку", "Index")
<div>


    @if (nvaModel.Id > 0)
    {
        <a href="@Url.Action("Edit", new {id = nvaModel.FirstRow})" class="btn btn_small"><i class="icon-black icon-arrow-left"></i><i class="icon-black icon-arrow-left"></i> в начало</a>
    }

    @if (nvaModel.PreviousRow.HasValue)
    {
        <a href="@Url.Action("Edit", new {id = nvaModel.PreviousRow.Value})" class="btn btn_small"><i class="icon-black icon-arrow-left"></i> назад</a>

    }
    @if (nvaModel.Id > 0)
    {
        <i  style="width: 100px">&nbsp; @nvaModel.RN из @nvaModel.Total</i>
    }
    @if (nvaModel.NextRow.HasValue)
    {
        <a href="@Url.Action("Edit", new { id = nvaModel.NextRow.Value })" class="btn btn_small">вперед <i class="icon-black icon-arrow-right"></i></a>
    }

    @if (nvaModel.Id > 0)
    {
        <a href="@Url.Action("Edit", new {id = nvaModel.LastRow})" class="btn btn_small"> в конец<i class="icon-black icon-arrow-right"></i><i class="icon-black icon-arrow-right"></i></a>
    }

</div><br/>
<div class='input-append'>
    @if (nvaModel.Id > 0)
    {
        <input id="SearchInput" placeholder="поиск по ID.." style="line-height: 26px; width: 100px; height: inherit !important;vertical-align: middle;" title="" pattern="\d*"/>
        <button id="SearchButton" class='btn add-on' style="height: inherit !important;vertical-align: middle;" type="button">
            <i class="icon-search"></i>
        </button>
    }
</div><br/>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data"})) 
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        @if (!String.IsNullOrWhiteSpace(ViewBag.Title))
        {
           <legend>@ViewBag.Title </legend>
        }
        @if (!String.IsNullOrWhiteSpace(ViewBag.CreatedOn))
        {
            <div class="control-group">
                @Html.Label("Дата записи", new {@class = "control-label"})
                <div class="controls">
                    @ViewBag.CreatedOn
                </div>
            </div>
        }
        @foreach (var property in Model.VisibleProperties())
        {
            using(Html.ControlGroupFor(property.Name)){
                @Html.Label(property.GetLabel().ToSeparatedWords(), new { @class = "control-label" })
                 <div class="controls">
                     @Html.Editor(property.Name, new { @class = "input-xlarge" })
                     @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                 </div>
            }
        }
    @if (nvaModel.Table != null)
    {
        <div>
        <table id="userTable" width="100%" class="data_grid">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Статус</th>
                    <th>Тип з-за</th>
                    <th>Описание</th>
                    <th>Зак-но</th>
                    <th>Получено</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            </tfoot>
        </table>
        </div>
    }
        <br/>
        <br/>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-black icon-save"></i>Сохранить</button>&nbsp;
            <a href="@Url.Action("Edit")" class="btn"><i class="icon-black icon-refresh"></i> Cбросить</a>&nbsp;
            <button id="Delete" data-link="@Url.Action("Delete", new {id=nvaModel.Id})" class="btn" type="button"><i class="icon-black icon-remove"></i> Удалить</button>
        </div>
    </fieldset>
}

@Html.ActionLink("Назад к списку", "Index")

<div>
    @if (nvaModel.Id > 0)
    {
        <a href="@Url.Action("Edit", new { id = nvaModel.FirstRow })" class="btn btn_small"><i class="icon-black icon-arrow-left"></i><i class="icon-black icon-arrow-left"></i> в начало</a>
    }

    @if (nvaModel.PreviousRow.HasValue)
    {
        <a href="@Url.Action("Edit", new { id = nvaModel.PreviousRow.Value })" class="btn btn_small"><i class="icon-black icon-arrow-left"></i> назад</a>

    }
    @if (nvaModel.Id > 0)
    {
        <i  style="width: 100px">&nbsp; @nvaModel.RN из @nvaModel.Total</i>
    }
    @if (nvaModel.NextRow.HasValue)
    {
        <a href="@Url.Action("Edit", new { id = nvaModel.NextRow.Value })" class="btn btn_small">вперед <i class="icon-black icon-arrow-right"></i></a>
    }

    @if (nvaModel.Id > 0)
    {
        <a href="@Url.Action("Edit", new { id = nvaModel.LastRow })" class="btn btn_small"> в конец<i class="icon-black icon-arrow-right"></i><i class="icon-black icon-arrow-right"></i></a>
    }

</div><br/>
@section scripts {

@{
    if (nvaModel.Table != null)
    {
        <script type="text/javascript">
            function inittable() {
                //http://www.datatables.net
                $('#userTable').dataTable({
                    "sDom": 'T<"clear">lfrtip',

                    "oLanguage": {
                        "sUrl": "@Url.Content("~/Content/datatables/datatables.russian.txt")"
                    },
                    //"sDom": '<"top"i>rt<"bottom"flp><"clear">',
                    //"sDom": "rt",
                    "aaSorting": @Html.Raw(nvaModel.Table.aaSorting),
                    "iDisplayStart": @nvaModel.Table.iDisplayStart,
                    "iDisplayLength": @nvaModel.Table.iDisplayLength,
                    "bSearchable": true,
                    //"bJQueryUI": true,
                    "bLengthChange": true,
                    "aLengthMenu": [[10, 15, 20, 25, 30, 50], [10, 15, 20, 25, 30, 50]],
                    "bFilter": true,
                    "bSort": true,
                    //"bInfo": false,
                    "sPaginationType": "bootstrap",
                    "bProcessing": true,
                    "bServerSide": true,
                    "bStateSave": false,
                    "sAjaxSource": '@Url.Action("GetBooksTable", nvaModel.EntityName, new { id = nvaModel.Id })',
                    "fnServerData": function(url, data, callback, oSettings) {
                        oSettings.jqXHR = $.ajax({
                            "url": url,
                            "data": data,
                            "success": callback,
                            "contentType": "application/x-www-form-urlencoded; charset=utf-8",
                            "dataType": "json",
                            "type": "POST",
                            "cache": false,
                            "error": function() {
                                alert("DataTables warning: JSON data from server failed to load or be parsed. " +
                                    "This is most likely to be caused by a JSON formatting error.");
                            }
                        });
                    },
                    //,
                    //"aoColumns": [
                    //    { "bSortable": true },
                    //    { "bSortable": true }
                    //]
                    "fnDrawCallback": function() {
                        $('.data_grid tbody tr').click(function() {
                            var redirection = $(this).attr('id');
                            document.location.href = '@Url.Action("Edit", "Books")' + "/" + redirection;
                        });

                        $('.data_grid tbody tr').hover(function() {
                            $(this).css('cursor', 'pointer');
                        }, function() {
                            $(this).css('cursor', 'auto');
                        });
                    },
                    "aoColumns": [
                        { "sWidth": "5%", "sClass": "left", "bSortable": true },
                        { "sWidth": "10%", "sClass": "center", "bSortable": true },
                        { "sWidth": "10%", "sClass": "center", "bSortable": true },
                        { "sWidth": "61%", "sClass": "left", "bSortable": true },
                        { "sWidth": "7%", "sClass": "right", "bSortable": true },
                        { "sWidth": "7%", "sClass": "right", "bSortable": true }
                    ]
                });
            }
        </script>
    }
    else
    {
        <script type="text/javascript">
            function inittable() {
            }
        </script>
    }
}

    <script type = "text/javascript" >
            jQuery(function() {
                $(".datePicker").datepicker({ format: "dd.mm.yyyy", language: "ru", autoclose: true });

                $('.ajax-typeahead').typeahead({
                    source: function(query, process) {
                        return $.ajax({
                            url: $(this)[0].$element.data('link'),
                            type: 'get',
                            data: { query: query },
                            dataType: 'json',
                            success: function(json) {
                                return typeof json.options == 'undefined' ? false : process(json.options);
                            }
                        });
                    }
                });
                $(document).on('keyup', "#SearchInput", function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        document.location.href =  '/'+'@nvaModel.EntityName'+'/Edit/' + $("#SearchInput").val();
                    }
                });
                $(document).on('click', "#SearchButton", function (event) {
                    event.preventDefault();
                    document.location.href = '/'+'@nvaModel.EntityName'+'/Edit/' + $("#SearchInput").val();
                });

                $(document).on('click', "#Delete", function(event) {
                    bootbox.confirm("Вы точно хотите удалить " + "@prefix"+ "@ViewBag.Title" + "?", "отмена", "ДА!", function(result) {
                        if (result) {
                            document.location.href = $("#Delete").data("link");
                        }
                    });
                });
@*                $('#fileupload').fileupload( {
                    replaceFileInput: false,
                    url: '@Url.Action("FileUpload")',
                    maxFileSize: 20000000,
                    acceptFileTypes: /(\.|\/)(doc|docx|pdf|xls|xlsx|gif|jpe?g|png)$/i,
                    process: [
                        {
                            action: 'load',
                            fileTypes: /^image\/(doc|docx|pdf|xls|xlsx|gif|jpe?g|png)$/,
                            maxFileSize: 20000000 // 20MB
                        },
                        {
                            action: 'save'
                        }
                    ],
                    done: function (e, data) {
                        $('#fileupload').prop('disabled', true);
                        document.getElementById('fileCopyUrl').style.visibility='visible';
                    }
                                });*@
                inittable();

            });
    </script>
    }
