﻿@using BootstrapSupport
@using Books.DataAccess.Attributes
@model Books.Models.WorksInput
@Html.ActionLink("Назад к списку", "Index")
<div >


    @if (Model.Id > 0)
    {
        <a href="@Url.Action("Edit", new {id = Model.FirstRow})" class="btn btn_small"><i class="icon-black icon-arrow-left"></i><i class="icon-black icon-arrow-left"></i> в начало</a>
    }
    @if (Model.PreviousRow.HasValue)
    {
        <a href="@Url.Action("Edit", new {id = Model.PreviousRow.Value})" class="btn btn_small"><i class="icon-black icon-arrow-left"></i> назад</a>

    }
    @if (Model.Id > 0)
    {
        <i style="width: 100px">@Model.RN из @Model.Total</i>
    }
    @if (Model.NextRow.HasValue)
    {
        <a href="@Url.Action("Edit", new { id = Model.NextRow.Value })" class="btn btn_small">вперед <i class="icon-black icon-arrow-right"></i></a>
    }

    @if (Model.Id > 0)
    {
        <a href="@Url.Action("Edit", new {id = Model.LastRow})" class="btn btn_small"> в конец <i class="icon-black icon-arrow-right"></i><i class="icon-black icon-arrow-right"></i></a>
    }

</div><br/>
<div class='input-append'>
    @if (Model.Id > 0)
    {
        <input id="SearchInput" placeholder="поиск по ID.." style="line-height: 26px; width: 100px; height: inherit !important;vertical-align: middle;" title="" pattern="\d*"/>
        <button id="SearchButton" class='btn add-on' style="height: inherit !important;vertical-align: middle;" type="button">
            <i class="icon-search"></i>
        </button>
    }
    
</div><br/>
@using (Html.BeginForm())
{
    //var c = Model.GetType().GetProperties().Where(info => info.AttributeExists<RowAttribute>()).Count();
    //var groups = Model.GroupsProperties();
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        @if (!String.IsNullOrWhiteSpace(ViewBag.Title))
        {
           <legend>@ViewBag.Title </legend>
        }
        <div class="control-group">
            @Html.Label("Дата записи", new { @class = "control-label" })
            <div class="controls">
                @ViewBag.CreatedOn
            </div>
        </div>
        @foreach (var property in Model.VisibleProperties())
        {
            using (Html.ControlGroupFor(property.Name))
            {
                @Html.Label(property.GetLabel().ToSeparatedWords(), new { @class = "control-label" })
                <div class="controls">
                    @Html.Editor(property.Name, new { @class = "input-xlarge" })
                    @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                </div>
            }
        }
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-black icon-save"></i>Сохранить</button>&nbsp;
            <a href="@Url.Action("Edit")" class="btn"><i class="icon-black icon-refresh"></i> Cбросить</a>&nbsp;
            <button id="Delete" data-link="@Url.Action("Delete", new {id=Model.Id})" class="btn" type="button"><i class="icon-black icon-remove"></i> Удалить</button>
        </div>
    </fieldset>
}
     @Html.ActionLink("Назад к списку", "Index")
<div >


    @if (Model.Id > 0)
    {
        <a href="@Url.Action("Edit", new {id = Model.FirstRow})" class="btn btn_small"><i class="icon-black icon-arrow-left"></i><i class="icon-black icon-arrow-left"></i> в начало</a>
    }
    @if (Model.PreviousRow.HasValue)
    {
        <a href="@Url.Action("Edit", new {id = Model.PreviousRow.Value})" class="btn btn_small"><i class="icon-black icon-arrow-left"></i> назад</a>

    }
    @if (Model.Id > 0)
    {
        <i style="width: 100px">@Model.RN из @Model.Total</i>
    }
    @if (Model.NextRow.HasValue)
    {
        <a href="@Url.Action("Edit", new { id = Model.NextRow.Value })" class="btn btn_small">вперед <i class="icon-black icon-arrow-right"></i></a>
    }

    @if (Model.Id > 0)
    {
        <a href="@Url.Action("Edit", new {id = Model.LastRow})" class="btn btn_small"> в конец <i class="icon-black icon-arrow-right"></i><i class="icon-black icon-arrow-right"></i></a>
    }

</div><br/>
</div>
@section scripts {
   
    <script type="text/javascript">
        function OnOrderTypeChange() {
            var status = $('#OrderType').val();
            if (status == 'BookOrder') {
                document.getElementById("Booktitle").disabled = true;
                document.getElementById("Journal_Journal").disabled = true;
                document.getElementById("Chapter").disabled = true;
                document.getElementById("Source").disabled = true;
                document.getElementById('BibType').value = 'book';
            } else if (status == 'ArtOrder') {
                document.getElementById("Journal_Journal").disabled = false;
                document.getElementById("Booktitle").disabled = false;
                document.getElementById("Chapter").disabled = false;
                document.getElementById("Source").disabled = false;
                document.getElementById('BibType').value = 'article';
            } else if (status == 'FragOrder') {
                document.getElementById("Journal_Journal").disabled = false;
                document.getElementById("Journal").disabled = false;
                document.getElementById("Chapter").disabled = false;
                document.getElementById("Source").disabled = false;
                document.getElementById('BibType').value = 'inbook';
            }
        }

        function OnStatusChange() {
            var status = $('#Status').val();
            if (status == 'Заказано') {
                document.getElementById('Ordered').value = moment().format("DD.MM.YY");
            } else if (status == 'Получено') {
                document.getElementById('Obtained').value = moment().format("DD.MM.YY");
            } else if (status == 'На скан') {
                document.getElementById('Scanning').value = moment().format("DD.MM.YY");
            }
        }

        jQuery(function() {
            $(".datePicker").datepicker({ format: "dd.mm.yyyy", language: "ru", autoclose: true });

            $('.ajax-typeahead').typeahead({
                source: function(query, process) {
                    return $.ajax({
                        url: $(this)[0].$element.data('link'),
                        type: 'get',
                        data: { query: query },
                        dataType: 'json',
                        success: function(json) {
                            return typeof json.options == 'undefined' ? false : process(json.options);
                        }
                    });
                }
            });
            $(document).on('keyup', "#SearchInput", function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    document.location.href = '/Books/Edit/' + $("#SearchInput").val();
                }
            });
            $(document).on('click', "#SearchButton", function(event) {
                event.preventDefault();
                document.location.href = '/Books/Edit/' + $("#SearchInput").val();
            });

            $(document).on('click', "#Delete", function(event) {
                bootbox.confirm("Вы точно хотите удалить книгу " + "@ViewBag.LibRef" + "?","отмена","ДА!", function(result) {
                    if (result) {
                        document.location.href = $("#Delete").data("link");
                    }
                });
            });
            
            $('#Status').on('change', function () {
                OnStatusChange();
            });
            $('#OrderType').on('change', function () {
                OnOrderTypeChange();
            });
            OnStatusChange();
            OnOrderTypeChange();
        });        
        
    </script>
}
