﻿@{ Html.RenderAction("GetChecks", "DropDown", new { selectedId = Model??0 }); 
   if (Model != null)
   {
       <a href="@Url.Action("Edit","Checks", new {id=Model})">чек @Model</a>
   }
   else
   {
       <a href="@Url.Action("Create","Checks")">новый чек</a>
   }
}