﻿@{ Html.RenderAction("GetContracts", "DropDown", new { selectedId = Model??0 }); 
   if (Model != null)
   {
       <a href="@Url.Action("Edit","Contracts", new {id=Model})">договор @Model</a>
   }   
   else
   {
       <a href="@Url.Action("Create","Contracts")">новый договор</a>
   }
}