﻿@model int
@{
    var values = ViewData.ModelMetadata.AdditionalValues;
    var filedisabled = (Model==0) ? "": "style=\"visibility:hidden;\"" ;
    var disabled = (Model>0) ? "" : "style=\"visibility:hidden;\"";
}
<input id="fileupload" type="file" name="FileCopy" @Html.Raw(filedisabled) multiple="multiple">
<a id="fileCopyUrl" href="@Url.Action("FileCopy", new {id=Model})" @Html.Raw(disabled)>скачать копию</a>


