﻿@{ Html.RenderAction("GetInvoices", "DropDown", new { selectedId = Model??0 }); 
   if (Model != null)
   {
       <a href="@Url.Action("Edit","Invoices", new {id=Model})">счет @Model</a>
   }   
   else
   {
       <a href="@Url.Action("Create","Invoices")">новый счет</a>
   }
}